{% extends 'Layout/Authenticated/base.html.twig' %}

{% block content %}

    <h1 class="mt-2 mb-2 align-center">Aperçu template</h1>
    <h3 class="mb-10">Nom: {{ template.name }}</h3>
    <h3 class="mb-10">Sujet: {{ template.subject }}</h3>
    <div class="border-2 border-solid">
        <div>{{ template.body | raw }}</div>
    </div>
{% endblock content %}