@tailwind base;
@tailwind components;
@tailwind utilities;

#toolbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.tox-toolbar__group {
    margin-right: 5px;
}

.tox-toolbar__group:last-child {
    margin-right: 0;
}

.tox-editor-header{
    display: none!important;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px
}

.text_btn {
    font-size: 14px;
    font-style: italic;
}

.tox-menubar {
    display: none !important;
}

.tox-promotion {
    display: none !important;
}

.tox-statusbar {
    display: none !important;
}

.container-tiny {
    display: flex;
}

.column {
    flex: 1;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}

.column:last-child {
    border-right: none;
}
